[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = "~=3.9.0"
django-filer = "*"
djangocms-text-ckeditor = "*"
djangocms-link = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-video = "*"
djangocms-googlemap = "*"
djangocms-snippet = "*"
djangocms-style = "*"
django-crispy-forms = "*"
djangocms-bootstrap4 = "*"
django-sekizai = "*"
django-polymorphic = ">=3.0"
django-treebeard = "*"
Django = "~=3.2.0"
ldap3 = ">=2.6"
crispy-bootstrap4 = "*"
djangorestframework = "*"
django-mptt = "*"
six = "*"
packaging = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
Werkzeug = "*"
ipython = "*"
crispy-bootstrap4 = "*"

[requires]
python_version = ">=3.9"
