{% load menu_tags %}
{% for child in children %}
<!-- nav item  menu start -->
    <li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}{% if child.children %} dropdown{% endif %}  nav-item">

        <a {% if child.children %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
            <span>{{ child.get_menu_title }}</span>{% if child.children|length %}<span class="caret"></span>{% endif %}
        </a>

        {% if child.children %}
        <!-- dropdown-menu multi-level menu start -->
        <ul class="dropdown-menu multi-level bg-dark" role="menu" aria-labelledby="dropdownMenu">
            <!-- dropdown menu nested Rendered  -->
                {% show_menu from_level to_level extra_inactive extra_active "dropdownmenu.html" "" "" child %}
            </ul>
             <!-- dropdown-menu multi-level menu end -->
        {% endif %}

    </li>
    <!-- nav item  menu end -->
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}

{% endfor %}